h4 Classes and Groups
input.form-control.input-sm.classSearchBar(type="text", ng-disabled="classLoadWaiting || !myclasses",
  ng-model="model.pickedClass", placeholder="Search for a class",
  typeahead="class as class.code for class in classes | filter:$viewValue | filter:notIn | limitTo:8",
  typeahead-template-url="classTemplate.html", typeahead-on-select="chooseClass($model)")
div.classList
    img.loadingImg(src="/img/loading_classes_.gif", ng-if="classLoadWaiting")
    div.oneClass(ng-repeat="class in myclasses",
      ng-mouseover="showIcons = class.name", 
      ng-mouseleave="showIcons = ''",
      ng-class="getGroupClass(class.maingroup)")
        a.list-group-item-heading.oneClassHeading(href="#", ng-click="changeGroup(class.maingroup)")
            b {{class.code}}
            br
            a.list-group-item-text.greenText.oneClassHeading(href="#", ng-click="changeGroup(class.maingroup)")
            | {{class.name}}
            br
        ul.allGroups.nav.nav-pills.nav-stacked
            li.group(ng-repeat="subgroup in class.subgroups", 
                ng-click="changeGroup(subgroup.id)",
                ng-class="getSubgroupClass(subgroup)")
                a
                    span.icon.glyphicon.glyphicon-remove(ng-click="openRemoveClassModal(class, subgroup)",
                        ng-show="subgroup.id == activeGroupId")
                    span.glyphicon.glyphicon-lock(ng-show="subgroup.type == 'closed'")
                    span {{subgroup.name}}

        div.btn-group.toolBarContainer(ng-show="showIcons")        
            a(href="#", id="toolIcon", ng-click="openRemoveClassModal(class, undefined)")
                span.glyphicon.glyphicon-trash
            a(href="#", id="toolIcon")
                span.glyphicon.glyphicon-plus  
            a(href="#", id="toolIcon")
                span.glyphicon.glyphicon-search

script(type="text/ng-template", id="removeClassModal.html")
  div.modal-body
    p
      | {{msg}}
  div.modal-footer
    button.btn.btn-primary(ng-click="ok(class)")
      | Yes
    button.btn.btn-primary(ng-click="cancel()")
      | Cancel
      
script(type="text/ng-template", id="classTemplate.html")
  a
    span(bind-html-unsafe="match.model.name | typeaheadHighlight:query")
    small
      | &nbsp (
      span(bind-html-unsafe="match.label | typeaheadHighlight:query")
      | )

