doctype 5
html(ng-app="App", manifest="/web.appcache")
    head
        title Quipu

        link(rel="stylesheet", href=ROOT + "/css/vendor.css")
        link(rel='stylesheet', href=ROOT + "/css/main.css")

    body
      nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation", ng-controller="NavCtrl")
        .container-fluid.hidden-xs
          .navbar-header
            a.navbar-brand.ng-cloak(href ng-click="go('/bigevents')") Quipu{{group.name ? ': ' + group.name : ''}}
          ul.nav.navbar-nav.navbar-right.hidden-xs(ng-show="group.name", id='groupnav')
            li(ng-class='{active: path == "/members"}') <a href ng-click="go('/members')">Members</a>
            li(ng-class='{active: path == "/chat"}') <a href ng-click="go('/chat')">Chat</a>
            li(ng-class='{active: path == "/files"}') <a href ng-click="go('/files')">Files</a>
        .container-fluid.visible-xs
          span(ng-show="group.name")
            span.ng-cloak.pointer.navbar-text(ng-click='clearGroup()', class="glyphicon glyphicon-chevron-left").back
            span.ng-cloak.bigger.navbar-text.ng-cloak {{group.classcode}}
          span.vcenter(ng-show="!group.name")
            a.bigger.navbar-text(href ng-click="go('/bigevents')") Quipu
          span.ng-cloak.btn-group.leftbuttons(ng-show="group.name")
            button(type="button", ng-click="go('/events')", class="btn navbar-btn btn-sm")
              span(class="glyphicon glyphicon-th-list")
            button(type="button", ng-click="go('/members')", class="btn navbar-btn btn-sm") 
              span(class="glyphicon glyphicon-user")
            button(type="button", ng-click="go('/chat')", class="btn navbar-btn btn-sm") 
              span(class="glyphicon glyphicon-comment")
            button(type="button", ng-click="go('/files')", class="btn navbar-btn btn-sm")
              span(class="glyphicon glyphicon-folder-open")
      .container-fluid
        .row(ng-controller="MainCtrl")
          .col-sm-2(ng-controller="GroupCtrl", ng-class="{'hidden-xs': group.id}")
            ng-include(src="'app/main/group.jade'")
          .scrollit(ng-class="{'col-sm-8': group.id, 'col-sm-10': !group.id, 'hidden-xs': !group.id}")
            div(ng-view)
          .scrollit.hidden-xs(ng-class="{'col-sm-2': group.id, hidden: !group.id}", ng-controller="EventsCtrl")
            ng-include(src="'app/main/events.jade'")
      .options(ng-controller="PrefCtrl") 
          a.spaced(ng-click="about()") About
          a.spaced(ng-click="setupUser()") Preferences
          a.spaced(ng-click="help()") FAQ
          a.spaced(href='/logout', id='logout') Log out

      script(type="text/ng-template", id="askId")
          div.modal-header
            h3 User Information
          div.modal-body
              form(role="form", class="form-horizontal", ui-keypress="{13:'dismiss()'}")
                  p(class="text-right")
                      a(ng-click="fbLogin()") Connect with Facebook
                  div(class="form-group")
                      label(class="col-sm-2 control-label") Full name
                      div(class="col-sm-10")
                          input(type="text", id='namefield', ng-model="me.name", placeholder="Full name", class="form-control")
                  div(class="form-group")
                      label(class="col-sm-2 control-label") College
                      div(class="col-sm-10")
                          input(type="text", ng-model="me.college", placeholder="College", class="form-control")
                  div.hidden-xs(class="form-group")
                      label(class="col-sm-2 control-label")  Picture
                      div(class="col-sm-10 control-label")
                        div(class="dropbox", ng-show="dropSupported",
                          ng-file-drop="onImgSelect($files);",
                          ng-file-drop-available="dropSupported=true")
                            span(ng-if="!me.image") Drop Image Here
                            img(ng-if="me.image", ng-src="{{me.image}}")
          div.modal-footer

      script(type="text/ng-template", id="aboutId")
          div.modal-header
              h3 About Quipu
          div.modal-body
              p Quipu is a tool to create study groups. It is open source under an MIT license:
                  | check out our code on <a href='http://github.com/bogiebro/classapp'>GitHub</a>.
                  | Feedback should be directed to quipu at gmail dot com.
          div.modal-footer
              p.smaller
                  small &copy; 2014 Sam Anklesaria, Iyob Gebremariam, Isaac Reilly,
                      | James Batchelder, Peter Nguyen

      script(type="text/ng-template", id="tutorialId")
          div.modal-header(id='help')
              h3 Welcome to Quipu
          div.modal-body
              ng-include(src="'app/main/tutorial.jade'")

      script(src=ROOT + '/js/angular-file-upload-html5-shim.min.js')
      script(src=ROOT + '/js/vendor.js')
      script(src=ROOT + '/js/angular-file-upload.min.js')
      script(src='https://cdn.firebase.com/v0/firebase.js')
      script(src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js')
      script(src=ROOT + '/js/main.js')
      script(src=ROOT + '/js/app.main.templates.js')

